[package]
name = "temporal-client"
version = "0.1.0"
edition = "2024"
authors = ["Spencer Judge <spencer@temporal.io>"]
license-file = { workspace = true }
description = "Clients for interacting with Temporal Clusters"
homepage = "https://temporal.io/"
repository = "https://github.com/temporalio/sdk-core"
keywords = ["temporal", "workflow"]
categories = ["development-tools"]

[features]
telemetry = ["dep:opentelemetry"]

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
backoff = "0.4"
base64 = "0.22"
derive_builder = { workspace = true }
derive_more = { workspace = true }
futures-util = { version = "0.3", default-features = false }
futures-retry = "0.6.0"
http = "1.1.0"
http-body-util = "0.1"
hyper = { version = "1.4.1" }
hyper-util = "0.1.6"
opentelemetry = { workspace = true, features = ["metrics"], optional = true }
parking_lot = "0.12"
slotmap = "1.0"
thiserror = { workspace = true }
tokio = "1.1"
tonic = { workspace = true, features = ["tls", "tls-roots"] }
tower = { version = "0.5", features = ["util"] }
tracing = "0.1"
url = "2.2"
uuid = { version = "1.1", features = ["v4"] }

[dependencies.temporal-sdk-core-protos]
path = "../sdk-core-protos"

[dependencies.temporal-sdk-core-api]
path = "../core-api"

[dev-dependencies]
assert_matches = "1"
mockall = "0.13"
rstest = "0.24"

[lints]
workspace = true
