[package]
name = "sdk-core"
version = "0.1.0"
authors = ["Spencer Judge <spencer@temporal.io>", "Vitaly Arbuzov <vitaly@temporal.io>"]
edition = "2018"

[lib]

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
derive_more = "0.99"
log = "0.4"
prost = "0.6"
prost-types = "0.6"
thiserror = "1.0"
tonic = "0.3"

[dependencies.rustfsm]
path = "fsm"

[build-dependencies]
tonic-build = "0.3"

[workspace]
members = [".", "fsm"]
