[workspace]
members = ["core", "client", "core-api", "fsm", "test-utils", "sdk-core-protos", "sdk"]
resolver = "2"

[workspace.package]
license = "MIT"
license-file = "LICENSE.txt"

[workspace.dependencies]
derive_builder = "0.12"
derive_more = { version = "0.99", default-features = false, features = ["constructor", "display", "from", "into"] }
once_cell = "1.16"
tonic = "0.9"
tonic-build = "0.9"
opentelemetry = "0.21"
