[package]
name = "temporal-sdk-core"
version = "0.1.0-alpha.1"
authors = ["Spencer Judge <spencer@temporal.io>", "Vitaly Arbuzov <vitaly@temporal.io>"]
edition = "2018"
license-file = "LICENSE.txt"
description = "Library for building new Temporal SDKs"
homepage = "https://temporal.io/"
repository = "https://github.com/temporalio/sdk-core"
keywords = ["temporal", "workflow"]
categories = ["development-tools"]

[lib]

# TODO: Feature flag opentelem stuff
[dependencies]
anyhow = "1.0"
async-trait = "0.1"
base64 = "0.13"
crossbeam = "0.8"
dashmap = "4.0"
derive_more = "0.99"
futures = "0.3"
itertools = "0.10"
once_cell = "1.5"
opentelemetry = { version = "0.13", features = ["rt-tokio"] }
opentelemetry-jaeger = "0.12"
parking_lot = "0.11"
prost = "0.7"
prost-types = "0.7"
rand = "0.8.3"
slotmap = "1.0"
thiserror = "1.0"
# For the full list of tokio features and what they enable see https://docs.rs/tokio/1.5.0/tokio/#feature-flags
tokio = { version = "1.1", features = ["rt", "rt-multi-thread", "parking_lot", "time"] }
tonic = "0.4"
tracing = { version = "0.1", features = ["log"] }
tracing-futures = "0.2"
tracing-opentelemetry = "0.12"
tracing-subscriber = "0.2"
url = "2.2"
uuid = { version = "0.8.2", features = ["v4"] }

[dependencies.rustfsm]
path = "fsm"
version = "0.1"

[dev-dependencies]
assert_matches = "1.4"
bimap = "0.6.1"
mockall = "0.9"
rstest = "0.9"
lazy_static = "1.4"

[build-dependencies]
tonic-build = "0.4"

[workspace]
members = [".", "fsm"]

[[test]]
name = "integ_tests"
path = "tests/main.rs"
# Prevents autodiscovery, and hence these getting run with `cargo test`. Run with
# `cargo test --test integ_tests`
test = false