[package]
name = "temporal-sdk-core"
version = "0.1.0"
authors = ["Spencer Judge <spencer@temporal.io>", "Vitaly Arbuzov <vitaly@temporal.io>"]
edition = "2021"
license-file = "LICENSE.txt"
description = "Library for building new Temporal SDKs"
homepage = "https://temporal.io/"
repository = "https://github.com/temporalio/sdk-core"
keywords = ["temporal", "workflow"]
categories = ["development-tools"]

[lib]

[features]
default = []
# Do not enable this feature when building production SDKs. If we ever want a user in the field to
# record WF input data, we can build them a custom SDK or they can build - it adds significant extra
# code size in the form of [de]serializers.
save_wf_inputs = ["rmp-serde", "temporal-sdk-core-protos/serde_serialize"]
tokio-console = ["console-subscriber"]
ephemeral-server = ["dep:flate2", "dep:nix", "dep:reqwest", "dep:tar", "dep:zip"]

[dependencies]
anyhow = "1.0"
arc-swap = "1.3"
async-trait = "0.1"
base64 = "0.21"
console-subscriber = { version = "0.1", optional = true }
crossbeam = "0.8"
dashmap = "5.0"
derive_builder = "0.12"
derive_more = "0.99"
enum_dispatch = "0.3"
enum-iterator = "1.4"
flate2 = { version = "1.0", optional = true }
futures = "0.3"
futures-util = "0.3"
governor = "0.6"
http = "0.2"
hyper = "0.14"
itertools = "0.11"
lazy_static = "1.4"
lru = "0.11"
mockall = "0.11"
nix = { version = "0.27", optional = true, features = ["process", "signal"] }
once_cell = "1.5"
opentelemetry = { workspace = true, features = ["rt-tokio", "metrics"] }
opentelemetry_sdk = { version = "0.20", features = ["metrics"] }
opentelemetry-otlp = { version = "0.13", features = ["tokio", "metrics"] }
opentelemetry-prometheus = "0.13"
parking_lot = { version = "0.12", features = ["send_guard"] }
pin-project = "1.0"
prometheus = "0.13"
prost = "0.11"
prost-types = { version = "0.4", package = "prost-wkt-types" }
rand = "0.8.3"
reqwest = { version = "0.11", features = ["json", "stream", "rustls-tls", "tokio-rustls"], default-features = false, optional = true }
ringbuf = "0.3"
rmp-serde = { version = "1.1", optional = true }
serde = "1.0"
serde_json = "1.0"
siphasher = "1.0"
slotmap = "1.0"
tar = { version = "0.4", optional = true }
thiserror = "1.0"
tokio = { version = "1.26", features = ["rt", "rt-multi-thread", "parking_lot", "time", "fs", "process"] }
tokio-util = { version = "0.7", features = ["io", "io-util"] }
tokio-stream = "0.1"
tonic = { workspace = true, features = ["tls", "tls-roots"] }
tracing = "0.1"
tracing-futures = "0.2"
tracing-subscriber = { version = "0.3", features = ["parking_lot", "env-filter", "registry"] }
url = "2.2"
uuid = { version = "1.1", features = ["v4"] }
zip = { version = "0.6.3", optional = true }
log = "0.4.20"

# 1st party local deps
[dependencies.temporal-sdk-core-api]
path = "../core-api"
features = ["otel_impls"]

[dependencies.temporal-sdk-core-protos]
path = "../sdk-core-protos"
features = ["history_builders"]

[dependencies.temporal-client]
path = "../client"

[dependencies.rustfsm]
path = "../fsm"

[dev-dependencies]
assert_matches = "1.4"
bimap = "0.6.1"
clap = { version = "4.0", features = ["derive"] }
criterion = "0.5"
rstest = "0.18"
temporal-sdk-core-test-utils = { path = "../test-utils" }
temporal-sdk = { path = "../sdk" }

[build-dependencies]
tonic-build = { workspace = true }

[[test]]
name = "integ_tests"
path = "../tests/main.rs"
# Prevents autodiscovery, and hence these getting run with `cargo test`. Run with
# `cargo test --test integ_tests`
test = false

[[test]]
name = "heavy_tests"
path = "../tests/heavy_tests.rs"
test = false
required-features = ["save_wf_inputs"]

[[bench]]
name = "workflow_replay"
harness = false

# This is maybe a bit hacky, but we call the runner an "example" because that gets it compiling with
# the dev-dependencies, which we want.
[[example]]
name = "integ_runner"
path = "../tests/runner.rs"

[[example]]
name = "wf_input_replay"
path = "../tests/wf_input_replay.rs"
required-features = ["save_wf_inputs"]
