[package]
name = "temporal-sdk-core-c-bridge"
version = "0.1.0"
edition = "2024"

[lib]
name = "temporal_sdk_core_c_bridge"
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
futures-util = { version = "0.3", default-features = false }
http = "1.1"
libc = "0.2"
prost = { workspace = true }
# We rely on Cargo semver rules not updating a 0.x to 0.y. Per the rand
# documentation, before 1.0, minor 0.x updates _can_ break portability which can
# cause non-determinism.
rand = "0.8.5"
rand_pcg = "0.3.1"
serde_json = "1.0"
tokio = "1.26"
tokio-stream = "0.1"
tokio-util = "0.7"
tonic = { workspace = true }
tracing = "0.1"
url = "2.2"

[dependencies.temporal-client]
path = "../client"

[dependencies.temporal-sdk-core]
path = "../core"
features = ["ephemeral-server"]

[dependencies.temporal-sdk-core-api]
path = "../core-api"

[dependencies.temporal-sdk-core-protos]
path = "../sdk-core-protos"

[dev-dependencies]
futures-util = "0.3"
thiserror = { workspace = true }

[dev-dependencies.temporal-sdk-core-test-utils]
path = "../test-utils"

[build-dependencies]
cbindgen = { version = "0.29", default-features = false }
